@model IEnumerable<MarioPortfolio.Models.TicTacToe.TTTLeaderboards>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-5 p-4 box-shadow">
    <div class="text-center">
        <label class="h1 text-success">Play</label>
    </div>
    <div class="row container m-0">
        <div class="card col-lg-6 border-0 mt-1 mb-1">
                <a asp-action="Easy" asp-route-id="@Guid.NewGuid()" class="btn btn-primary"><h3>Easy</h3></a>
        </div>
        <div class="card col-lg-6 border-0 mt-1 mb-1">
                <a asp-action="NotSoEasy" asp-route-id="@Guid.NewGuid()" class="btn btn-primary"> <h3>Not so Easy</h3></a>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WinCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinRate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.WinCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WinRate)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
