@model IEnumerable<MarioPortfolio.Controllers.LeaderBoardsDisplay>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card mb-5 p-4 box-shadow">
    <div class="text-center">
        <label class="h1 text-success">Play</label>
    </div>
    <div class="row container m-0">
        <div class="card col-lg-6 border-0 mt-1 mb-1">
            <a asp-action="Easy" asp-route-id="@Guid.NewGuid()" class="btn btn-primary"><h3>Easy</h3></a>
        </div>
        <div class="card col-lg-6 border-0 mt-1 mb-1">
            <a asp-action="NotSoEasy" asp-route-id="@Guid.NewGuid()" class="btn btn-primary"> <h3>Not so Easy</h3></a>
        </div>
    </div>
</div>
<h1 class="text-center">Top 10</h1>
<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" id="tab-easy" href="#">Easy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-not-so-easy" href="#">Not so Easy</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div id="easy-leaderboards">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().Username)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().TTTLeaderboardsEasy.WinCount)
                        </th>
                        <th class="text-center">
                            WinRate
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().TTTLeaderboardsEasy.GameCount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @try
                    {
                        foreach (var item in Model.OrderByDescending(p => (float)p.TTTLeaderboardsEasy.WinCountEasy / (float)p.TTTLeaderboardsEasy.GameCountEasy).Take(10).ToList())
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.TTTLeaderboardsEasy.WinCountEasy)
                                </td>
                                <td class="text-center">
                                    @Math.Round((double)item.TTTLeaderboardsEasy.WinCountEasy / (double)item.TTTLeaderboardsEasy.GameCountEasy * 100.0f, 2)%
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.TTTLeaderboardsEasy.GameCountEasy)
                                </td>
                            </tr>
                        }
                    }
                    //empty list on easy leaderboards
                    catch { } 
                </tbody>
            </table>
        </div>
        <div id="not-so-easy-leaderboards" class="hide">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().Username)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().TTTLeaderboardsNotSoEasy.WinCount)
                        </th>
                        <th class="text-center">
                            WinRate
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.First().TTTLeaderboardsNotSoEasy.GameCount)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @try
                    {
                        foreach (var item in Model.OrderByDescending(p => (float)p.TTTLeaderboardsNotSoEasy.WinCount / (float)p.TTTLeaderboardsNotSoEasy.GameCount).Take(10).ToList())
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.TTTLeaderboardsNotSoEasy.WinCount)
                                </td>
                                <td class="text-center">
                                    @Math.Round((double)item.TTTLeaderboardsNotSoEasy.WinCount / (double)item.TTTLeaderboardsNotSoEasy.GameCount * 100.0f, 2)%
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.TTTLeaderboardsNotSoEasy.GameCount)
                                </td>
                            </tr>
                        }
                    }
                    //empty list on not so easy leaderboards.
                    catch { }
                </tbody>
            </table>
        </div>
    </div>
</div>
